<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <title>Recent Movies</title>


  <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <link href="../style/cover.css" rel="stylesheet">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript">
  $(function(){
    $('#login').click(function(evt){

      evt.preventDefault();
      var data = {username : $("#username").val(), password : $("#password").val()};
      $.get('http://localhost:3000/credentials', data, function(req, res) {
          console.log(req);
          // console.log(res);
          if(req == "Success"){
              console.log("YAYAY");
              $("#peasant").hide();
              $("#manager").show();
              // var parent = document.getElementById("Momma");
              // var child = document.getElementById("managerForm");
              // parent.removeChild(child);
          }else{
            alert("Sorry. Username or Password is incorrect.");
          }
        });
    })
  });

  $(function(){
    $('#typeSelector').on("change", function(evt){

      evt.preventDefault();
      console.log($('#typeSelector').val());
      if($('#typeSelector').val() == "prod"){
        $("#prodCoInsert").show();
        $("#directorInsert").hide();
        $("#actorInsert").hide();
      }else if($('#typeSelector').val() == "director"){
        $("#directorInsert").show();
        $("#prodCoInsert").hide();
        $("#actorInsert").hide();
      }else{
        $("#actorInsert").show();
        $("#prodCoInsert").hide();
        $("#directorInsert").hide();
      }

    })
  });

  $(function(){
    $('#typeSelector2').on("change", function(evt){

      evt.preventDefault();
      console.log($('#typeSelector2').val());
      if($('#typeSelector2').val() == "prod"){
        $("#prodCoDel").show();
        $("#directorDel").hide();
        $("#actorDel").hide();
      }else if($('#typeSelector2').val() == "director"){
        $("#directorDel").show();
        $("#prodCoDel").hide();
        $("#actorDel").hide();
      }else{
        $("#actorDel").show();
        $("#prodCoDel").hide();
        $("#directorDel").hide();
      }

    })
  });

  $(function GenerateMovies() {
    $.get('http://localhost:3000/getMovies', function(res) {
      console.log(res)
      for (i = 0; i < res.length; i++){
        $("#reviewOpts").append("<option value=\"" + res[i]['name'] + "\">" + res[i]['name'] + "</option>");
      }
    });
  });
  // $(function(){
  //   $('#insert').click(function(evt){
  //
  //     evt.preventDefault();
  //     if($('#typeSelector2').val() == "director"){
  //       var data = { dirfname : $("#dirname").val(), dirlname : $("#dirlname").val(), dirbio : $("#dirbio").val()}
  //     }else if($('#typeSelector2').val() == "actor")
  //       var data = { actfname : $("#actfname").val(), actlname : $("#actlname").val(), actbio : $("#actbio").val()}
  //     else{
  //       var data = { name : $("#name").val(), owner : $("#owner").val(), country : $("#country").val()}
  //     }
  //
  //   console.log(data)
  //   });
  // });

  function openTab(evt, tab) {
    // Declare all variables
    var i, tabcontent, tablinks;

    // Get all elements with class="tabcontent" and hide them
    tabcontent = document.getElementsByClassName("tab-pane");
    for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
    }

    // Get all elements with class="tablinks" and remove the class "active"
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
    }

    // Show the current tab, and add an "active" class to the button that opened the tab
    document.getElementById(tab).style.display = "block";
    evt.currentTarget.className += " active";
};

</script>

</head>
<body>
  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="masthead clearfix">

          <div class="inner">

            <nav class="navbar navbar-inverse">
              <a href="#" class="navbar-left"><img src="/freshpotatoes" width="100" height="100"></a>
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/review">Leave a Review</a>
                </div>
                <ul class="nav navbar-nav">
                  <!-- <li class="active"><a href="/">Home</a></li> -->
                  <li><a href="/">Home</a></li>
                  <li><a href="/ticket">Buy a Ticket</a></li>
                  <!-- <li><a href="#">Page 3</a></li> -->
                </ul>
              </div>
            </nav>
          </div>
        </div>

        <div class="inner-cover">
            <br>
            <style type="text/css">
            textarea.html-text-box {background-color:#ffffff;background-image:url(http://);background-repeat:no-repeat;background-attachment:fixed;border-width:1;border-style:solid;border-color:#cccccc;font-family:Arial;font-size:12pt;color:#000000;}
            input.html-text-box {background-color:#ffffff;font-family:Arial;font-size:12pt;color:#000000;}
            </style>
            <div class="wrapper" id="peasant">
              <form class="form-signin" id="managerForm">
                <h2 class="form-signin-heading">Please login</h2>
                <input type="text" class="form-control" id="username" placeholder="Username" required="" autofocus="" />
                <input type="password" class="form-control" id="password" placeholder="Password" required=""/>
                <button id="login" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
              </form>
            </div>
            <div class="wrapper" id="manager" hidden>
              <p>Manager view</p>
              <div class="input-append">
                <select class="form-control" id="reviewOpts">
                  <!-- <option value="prod">Production Company</option>
                  <option value="director">Director</option>
                  <option value="actor">Actor/Actress</option> -->
                </select>
              </div>
            </div>
          </div>

          <div class="mastfoot">

            <div class="inner">
              <p>Fresh potatoes

              </p>
            </div>
          </div>

        </div>

      </div>

    </div>

  </body>
  </html>
