<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width">
  <title>Recent Movies</title>


  <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

  <link href="../style/cover.css" rel="stylesheet">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript">
  $(function(){
    $('#login').click(function(evt){

      evt.preventDefault();
      // var data = { movie : $("#movieName").find(":selected").val(), rating : $("#stars input[type='radio']:checked").val(), review : $("#inputAddress").val()
      console.log($("#username").val());
    })
  });

</script>

</head>
<body>
  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="masthead clearfix">

          <div class="inner">

            <nav class="navbar navbar-inverse">
              <a href="#" class="navbar-left"><img src="/freshpotatoes" width="100" height="100"></a>
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/review">Leave a Review</a>
                </div>
                <ul class="nav navbar-nav">
                  <!-- <li class="active"><a href="/">Home</a></li> -->
                  <li><a href="/">Home</a></li>
                  <li><a href="/ticket">Buy a Ticket</a></li>
                  <!-- <li><a href="#">Page 3</a></li> -->
                </ul>
              </div>
            </nav>
          </div>
        </div>

        <div class="inner-cover">
            <br>
            <style type="text/css">
            textarea.html-text-box {background-color:#ffffff;background-image:url(http://);background-repeat:no-repeat;background-attachment:fixed;border-width:1;border-style:solid;border-color:#cccccc;font-family:Arial;font-size:12pt;color:#000000;}
            input.html-text-box {background-color:#ffffff;font-family:Arial;font-size:12pt;color:#000000;}
            </style>
            <div class="wrapper">
              <form class="form-signin">
                <h2 class="form-signin-heading">Please login</h2>
                <input type="text" class="form-control" id="username" placeholder="Email Address" required="" autofocus="" />
                <input type="password" class="form-control" id="password" placeholder="Password" required=""/>
                <button id="login" class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
              </form>
            </div>
          </div>

          <div class="mastfoot">

            <div class="inner">
              <p>Fresh potatoes

              </p>
            </div>
          </div>

        </div>

      </div>

    </div>

  </body>
  </html>
