<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">
	<title>Recent Movies</title>


  <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

	<link href="../style/cover.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <!-- <script type="text/javascript">
    $(function(){
			$('#searchBt').click(function(evt){
				evt.preventDefault();
				// arr.push(mySearch.value);
				$(".lead2").append(mySearch.value);
			});

      // $('#btnSignIn').click(function(evt){
      //   evt.preventDefault();
      //   $.get('http://localhost:3000/request', function(movies) {
      //           $( ".lead2" ).empty();
      //           $(".lead2").append(JSON.stringify(movies)); // show the list
      //
      //       });
      // });
    });

  </script> -->
</head>
<body>
	<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">

            <div class="inner">
            	<div class="topnav" id="myTopnav">
								<h1 class="masthead-brand">Fresh Potatoes</h1>
                <a href="#" class="navbar-left"><img src="/freshpotatoes" width="100" height="100"></a>
					       <!--<a href="#home">
					         <img src="http://localhost:3000/freshpotatoes.png" width="80" height="80" alt="Chec">

					       </a> -->

				      </div>
            </div>
          </div>


          <div class="inner cover">
            <h3 class="cover-heading">Find Recent Movies</h2>

						<form>
						 <!--Search Bar with drop down menu-->
						 <div class="input-append">

						 </div>
					 </form>



          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Fresh potatoes

              </p>
            </div>
          </div>

        </div>

      </div>

    </div>

</body>
</html>
