<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">
	<title>Recent Movies</title>


  <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

	<link href="../style/cover.css" rel="stylesheet">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(function GenerateMovies() {
				$.get('http://localhost:3000/getMovies', function(res) {
								console.log(res)
								for (i = 0; i < res.length; i++){
									$("#movieName").append("<option value=\"" + res[i]['name'] + "\">" + res[i]['name'] + "</option>");
								}
						});
		});

	</script>

	<script type="text/javascript">
    $(function(){
      $('#submitBt').click(function(evt){

				evt.preventDefault();
				var data = { movie : $("#movieName").find(":selected").val(), rating : $("#stars input[type='radio']:checked").val(), review : $("#inputAddress").val()
			}
			console.log(data)
				$.get('http://localhost:3000/postReview', data, function(res) {
                if(res == 'Success'){
                  alert("Review Submitted!");
                }
                else{
                  alert("Review Failed to Submit");
                }
								$("#stars input[type='radio']:checked").attr('checked', false);
								//$(".inputAddress").text("Please write your review here...");
            });
      });
    });

  </script>

</head>
<body>
	<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">

            <div class="inner">

              <nav class="navbar navbar-inverse">
								<a href="#" class="navbar-left"><img src="/freshpotatoes" width="100" height="100"></a>
							 <div class="container-fluid">

								 <ul class="nav navbar-nav">
									 <li><a href="/">Home</a></li>
									 <li class="active"><a href="/">Leave a Review</a></li>
									 <li><a href="/ticket">Buy a Ticket</a></li>
									 <li><a href="/manLogin">Manager Login</a></li>
									 <!-- <li><a href="#">Page 3</a></li> -->
								 </ul>
							 </div>
						 </nav>
            </div>
          </div>

          <div class="inner-cover">
						<form id='formThing'>
								<div class="review-grouph">
										<h2>Your Review</h2>
									</form>
									<br>
									<style type="text/css">
									textarea.html-text-box {background-color:#ffffff;background-image:url(http://);background-repeat:no-repeat;background-attachment:fixed;border-width:1;border-style:solid;border-color:#cccccc;font-family:Arial;font-size:12pt;color:#000000;}
									input.html-text-box {background-color:#ffffff;font-family:Arial;font-size:12pt;color:#000000;}
									</style>
									<form id='formThing'><textarea name="comments" cols="80" rows="5" class="html-text-box" id="inputAddress">Please write your review here...</textarea>
			<br><br>

              <div class="input-append">
 							 <select class="form-control" id='movieName'>
 							</select>
 						 </div>
<br><br>
						 <div class="rating" id="stars">
 						 <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
 					 <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
 				 <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
 			 <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
 		 <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
	 </div>
	 <br><br>
              <div>
 				<button type="button" class="btn btn-primary" id="submitBt"> Submit Review </button>
              </div>
            </form>
						<p id='returnMessage'>
						</p>
          </div>

          <div class="mastfoot">

            <div class="inner">
              <p>Fresh potatoes

              </p>
            </div>
          </div>

        </div>

      </div>

    </div>

</body>
</html>
