<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width">
	<title>Recent Movies</title>


  <link href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

	<link href="../style/cover.css" rel="stylesheet">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <script type="text/javascript">
		arr = [];
    $(function(){
			$('#subMov').click(function(evt){
				evt.preventDefault();
				// arr.push(mySearch.value);
				$(".lead2").append(mySearch.value);
			});

      $('#btnSignIn').click(function(evt){
        evt.preventDefault();
        $.get('http://localhost:3000/request', function(movies) {
                $( ".lead2" ).empty();
                $(".lead2").append(JSON.stringify(movies)); // show the list
            });
      });
    });

  </script>

</head>
<body>
	<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <nav class="navbar navbar-inverse">
                <a href="#" class="navbar-left"><img src="/freshpotatoes" width="100" height="100"></a>
							 <div class="container-fluid">
								 <div class="navbar-header">
									 <a class="navbar-brand" href="/ticket">Buy a Ticket</a>
								 </div>
								 <ul class="nav navbar-nav">
									 <!-- <li class="active"><a href="/">Home</a></li> -->
									 <li><a href="/">Home</a></li>
									 <li><a href="/review">Leave a Review</a></li>
									 <li><a href="/manLogin">Manager Login</a></li>
									 <!-- <li><a href="#">Page 3</a></li> -->
								 </ul>
							 </div>
						 </nav>
            </div>
          </div>
					<form>
					 <!--Search Bar with drop down menu-->
					 <!-- <div class="input-append">
						 <input type="text" id="mySearch" class="form-control" placeholder="Search" required/>
						 <select class="form-control">
						  <option value="movie">Movie</option>
						   <option value="director">Director</option>
						  <option value="actor">Actor/Actress</option>
						</select>
						<button id="searchBt" class="btn btn-lg btn-default">Search</button>
					 </div> -->

				 </form>

          <div class="inner cover">
            <h2 class="cover-heading">What Movie Would You Like to See?</h2>

            <p class="lead">
              <!--<img src="http://localhost:3000/freshpotatoes.png">-->
              <!-- <a button id="btnSignIn" class="btn btn-lg btn-default">Find Movies</a> -->
              <!-- <button type="submit" class="btn btn-primary">Submit Changes</button>  -->
              <form>
                <div class="input-append">
   							 <select class="form-control" required>
   							  <option value="opt1">Thor: Ragnarok</option>
   							   <option value="opt2">Daddy's Home 2</option>
                   <option value="opt3">Justice League</option>
                   <option value="opt4">Jigsaw</option>
                   <option value="opt5">A Bad Mom's Christmas</option>
   							</select>
   						 </div>
             </form>
             <br>

              <form>
             <!--Search Bar with drop down menu-->
                <div class="time-select">
                 <select class="form-control" required>
                  <option value="opt1">02:30:00</option>
                  <option value="opt2">05:50:00</option>
                  <option value="opt3">06:00:00</option>
                  <option value="opt4">10:40:00</option>
                  <option value="opt5">12:30:00</option>
                  <option value="opt6">09:15:00</option>
                  <option value="opt7">11:45:00</option>
                </select>
            <div class = "label-date">
                <label for="movie">Choose date:</label>
            </div>
             <div class="input-append">
              <form>
                <div>
                  <input type="date" id="movie" name="movie">
                </div>
              </form

             </div>
           </form>
              <button type="button" class="btn btn-primary" id="subMov" onclick="window.location.href='/movieticket'"> Submit</button>
              <!-- onclick="window.location.href='/movieticket'" -->

            </p>
            <p class="lead2">
            </p>

          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>Fresh potatoes

              </p>
            </div>
          </div>

        </div>

      </div>

    </div>

</body>
</html>
